//! **************************************************************************
// Written by: Map J.30 on Wed Mar 07 13:00:40 2012
//! **************************************************************************

SCHEMATIC START;
COMP "S<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "S<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "S<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "I<0>" LOCATE = SITE "P148" LEVEL 1;
COMP "I<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "I<2>" LOCATE = SITE "P20" LEVEL 1;
COMP "I<3>" LOCATE = SITE "P25" LEVEL 1;
COMP "I<4>" LOCATE = SITE "P26" LEVEL 1;
COMP "I<5>" LOCATE = SITE "P28" LEVEL 1;
COMP "I<6>" LOCATE = SITE "P29" LEVEL 1;
COMP "out" LOCATE = SITE "P205" LEVEL 1;
COMP "I<7>" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;
